body {
	background-color: #293251;
}

.container{
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title h1{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.inputValue {
	width: 200px;
	height: 20px;
	margin: 15px;
}

.submit {
	padding: 5px;
    color: #293251;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}